:root {
    --color1: #ffa500;
    --color2: #151515;
    --color3: #808080;
}

.text_f_f {
    font-family: 'Playfair Display', serif;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}


footer,
section {
    padding: 100px 0;
}


.header {
    background-color: var(--color2);
}

.header nav {
    border-bottom: 0.5px solid #363636d8;
}

.footer {
    background-color: var(--color2);
    color: gray;
}

.footer-text {
    text-align: center;
}

.itd_play {
    background-color: var(--color2);
    transition: all 0.2s ease;
    color: gray;
}

.itd_play:hover {
    background-color: var(--color1);
}

.my-text {
    font-size: 48px;
    color: orange;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #151515;
    font-family: 'Roboto', sans-serif;
}

.my-text:after {
    content: "|";
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

.top {
    background-color: #151515;
}

.text_top {
    padding: 15px 0;
}

.text_dec_top {
    border-left: 5px solid orange;
    padding: 0 15px;
}

.about-me {
    background-color: var(--color2);
}

.border_about-me {
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 4px black;
    padding: 15px 0;
}

.progress_bar-p {
    padding: 0 10px;
}

.border_about-me {
    display: flex;
}

.progress_b {
    padding: 0 10px;
}

.progress-text {
    padding: 8px 0 8px 0;
}

.services {
    background-color: #151515;
}

.web_text {
    font-family: 'Playfair Display', serif;
}

.b_web {
    border: 2px solid orange;
    fill: #ffa500;
    border-radius: 15px;
    padding: 55px 0;
    margin: 50px 10px;
}

.b_web:hover {
    border: 2px solid #fff;
    background-color: #ffa500;
    fill: #151515;
    padding: 70px 20px;
    margin: 50px 10px;
}

.color-logo,
.text-po {
    padding: 15px 0;
}

.text_web {
    padding: 10px 55px;
}

.form_mad {
    margin: 10px 0;
}

.contact {
    background-color: #151515;
}

.border_contact {
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 4px black;
}

.pad_text_contact {
    margin: 20px 0 20px 0;
}

.cont_form {
    border: 1px solid grey;
    color: white;
    background: #151515;
}

.cont_form::placeholder {
    color: rgba(255, 255, 255, 0.645);
}

.cont_form:focus {
    color: rgba(255, 255, 255, 0.645);
    background: #151515;
}

.btn__sty {
    border: 1px solid rgba(255, 255, 255, 0.645);
    color: white;
    background-color: #151515;
    border-radius: 10px;
}

.btn__sty:hover {
    border: 1px solid white;
    color: #151515;
    background-color: orange;
}

.cont_bobrd {
    border: 2px solid orange;
    background-color: #151515;
    padding: 50px 5px;
    border-radius: 15px;
    fill: #ffa500;
}

.cont_bobrd:hover {
    border: 1px solid #000;
    background-color: orange;
    box-shadow: 5px 3px 4px 3px #000;
    fill: #151515;
}

.logo-color-fill {
    fill: #ffa500;
}

.logo-color-fill:hover {
    fill: #151515;
}

.mod_cont {
    margin: 40px 0 16px 0;
}

.mod_cont-2 {
    margin: 0 0 16px 0;
}

.internship-eperience,
.my-portfolio {
    background-color: #151515;
}

.link_text_dc {
    color: gray;
}

.cont_mag {
    margin: 0 0 30px 0;
}

.logo_footer_m {
    margin: 15px;
}