:root{
    --color1: orange;
    --color2: #151515;
    --color3: grey;
}

.text_f_f{
    font-family: 'Playfair Display', serif;
}

html,
body{
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 0 0 70px 0;
}

footer,
section{
    padding: 100px 0;
}


.header{
    background-color: var(--color2);
}

.header nav{
    border-bottom: 0.5px solid #363636d8;
}

.navbar-brand-color{
    color: var(--color1);
}

.dropdown-menu-bcolor{
    background-color: var(--color2);
}

.dropdown-item-color{
    color: white;
}

.footer{
    background-color: var(--color2);
    color: gray;
}

.footer-text{
    text-align: center;
}

.itd_play{
    background-color: var(--color2);
    transition: all 0.2s ease;
    color: gray;
}

.itd_play:hover{
    background-color: var(--color1);
}

.top{
    background-color: #151515;
}

.text_top{
    padding: 15px 0;
}

.text_dec_top{
    border-left: 5px solid orange;
    padding: 0 15px;
}

.about-me{
    background-color: var(--color2);
}
.border_about-me{
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 4px black;
    padding: 15px 0;
}

.progress_bar-p{
    padding: 0 10px;
}

.border_about-me{
    display: flex;
}

.progress_b{
    padding: 0 10px;
}

.progress-text{
    padding: 8px 0 8px 0;
}

.services{
    background-color: #151515;
}

.web_text{
    font-family: 'Playfair Display', serif;
}

.b_web{
    border: 1px solid orange;
    border-radius: 15px;
    padding: 25px 0;
    margin: 50px 10px;
}
.color-logo, .text-po{
    padding: 15px 0;
}
.text_web{
    padding: 10px 55px;
}

.form_mad{
    margin: 10px 0;
}
.contact{
    background-color: #151515;
}
.border_contact{
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 4px black;
}

.pad_cont{
    padding: 40px 0;
}

 .pad_text_c{
    margin: 0 0 20px 0;
 }

.pad_text_contact{
    margin: 20px 0 20px 0;
}

.cont_form{
    border: 1px solid grey;
    color: white;
    background: #151515;
}

.cont_form::placeholder{
    color: rgba(255, 255, 255, 0.645);
}

.btn__sty{
    border: 1px solid rgba(255, 255, 255, 0.645);
    color: white;
    background-color: #151515;
    border-radius: 10px;
}

.btn__sty:hover{
    border: 1px solid white;
    color: #151515;
    background-color: orange;
}

.cont_bobrd{
    border: 2px solid orange;
    background-color: #151515;
    padding: 50px 5px;
    border-radius: 15px;
}

.mod_cont{
   margin: 40px 0 16px 0;
}

.mod_cont-2{
    margin: 0 0 16px 0;
}
.internship-eperience{
    background-color: #151515;
}
.link_text_dc{
    color: gray;
}

.cont_mag{
    margin: 0 0 30px 0;
}
.logo_footer_m{
    margin: 15px;
}